@model CandidaturaModel
@{
    ViewData["Title"] = "ConsultarCandidaturaAluno";
    Layout = "_LayoutCandidatura";
}

<div align="center">
    <h2>Candidatura Programa de Mobilidade: </h2>
    <h5>Passo 1 de 5</h5>
</div>

<div class="conteudo">
    <h4>Nome do Candidato: </h4>
    <h4>Número Interno: </h4>


    <div align="center">
        <h4>Escolha qual o país que pretende</h4>
        <select id="UrlList">
            <option value="">Seleciona o País</option>
            <option value="">Espanha</option>
            <option value="">França</option>
            <option value="">Alemanhã </option>
            <option value="">Bélgica</option>
            <option value="">Reino Unido</option>
            <option value="">Islandia</option>
        </select>
    </div>


    <div align="center">
        <div class="form-group">
            <h4>Se pretende ter direito a bolsa clique em baixo</h4>
            <div class="checkbox">
                <label>
                    <input asp-for="IsBolsa" /> @Html.DisplayNameFor(model => model.IsBolsa)                   
                </label>
            </div>
        </div>
    </div>

    <div align="center">
        <div class="form-group">
            <h4>Escolha qual o tipo de propósito</h4>
            <div class="checkbox">
                <label>
                    <input asp-for="IsEstudo" /> @Html.DisplayNameFor(model => model.IsEstudo)
                    <p></p>
                    <input asp-for="IsEstagio" /> @Html.DisplayNameFor(model => model.IsEstagio)
                </label>
            </div>
        </div>
    </div>


    <div align="center">
        <input type="button" value="Submeter Candidatura" onclick="@("window.location.href='" + @Url.Action("RegulamentoMob", "Candidatura") + "'");" />
    </div>


    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>


</div>
