
@{
    ViewData["Title"] = "CIMOB";
}

<h1 align="center">CIMOB</h1>

<div align="center">
    <input type="button" value="Gestão de Utilizadores" onclick="@("window.location.href='" + @Url.Action("Index", "Utilizadores") + "'");" />
    <input type="button" value="Gestão de Informações" onclick="@("window.location.href='" + @Url.Action("Index", "InformacoesGerais") + "'");" />
    <input type="button" value="Gestão de Sugestões" onclick="@("window.location.href='" + @Url.Action("Index", "Sugestao") + "'");" />
</div>