
@{
    ViewData["Title"] = "CIMOB";
}

<h1 align="center">CIMOB</h1>


<div align="center">
    <br />
    <input type="button" value="Gestão de Utilizadores" onclick="@("window.location.href='" + @Url.Action("Index", "Utilizadores") + "'");" />
    <input type="button" value="Gestão de Informações" onclick="@("window.location.href='" + @Url.Action("Index", "InformacoesGerais") + "'");" />
    <input type="button" value="Gestão de Sugestões" onclick="@("window.location.href='" + @Url.Action("Index", "Sugestao") + "'");" />
    <input type="button" value="Gestão Alunos Estrangeiros" onclick="@("window.location.href='" + @Url.Action("Index", "ForeignStudents") + "'");" />
    <br />
    <hr />
    <input type="button" value="Gestão de Candidaturas" onclick="@("window.location.href='" + @Url.Action("Index", "Candidatura") + "'");" />
    <input type="button" value="Gestão de Documentos" onclick="@("window.location.href='" + @Url.Action("Files", "Upload") + "'");" />
    <input type="button" value="Gestão de Entrevistas" onclick="@("window.location.href='" + @Url.Action("Index", "Entrevistas") + "'");" />
    <br />
    <hr />
    <input type="button" value="Ver Histórico Candidaturas" onclick="@("window.location.href='" + @Url.Action("AlunosComCandidaturas", "Candidatura") + "'");" />
    <input type="button" value="Ver Alunos em Mobilidade" onclick="@("window.location.href='" + @Url.Action("AlunosEmMob", "Candidatura") + "'");" />
    <br />
    <hr />
    <input type="button" value="Gestão de Mensagens" onclick="@("window.location.href='" + @Url.Action("Index", "EnviarMsgs") + "'");" />

</div>
