@model IEnumerable<IPSCIMOB.Models.ProgramaModel>
@{
    ViewData["Title"] = "Selecione a Mobilidade ";
}

<h1 align="center">Pretende candidatar-se a um Programa de Mobilidade?</h1>
<h2 align="center">Escolha Aqui:</h2>


@*<div align="center">
        <select id="UrlList">    
            <option value="">Seleciona a mobilidade</option>
            @foreach (var item in Model)
            {
                <option value = "@Url.Action("Inicio", "Candidatura")"> @Html.DisplayFor(modelItem => item.Nome)</option>
            }
           
        </select>
    <p>

    </p>
        <p>
            <input type="submit" value="Seguinte" onclick="doNavigate()"/>            
        </p>

        <script>
            function doNavigate()
            {
                window.location.href = document.getElementById("UrlList").value;
                document.getElementById
            }
        </script>
    </div>*@


<h3>@ViewBag.UserProfissao</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            

            @*if (item.UtilizadorProfissao.Equals(ViewBag.UserProfissao))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramaAtual)
                    </td>
                    <td>
                        <a asp-action="Inicio" asp-route-id="@item.ProgramaID">Seguinte</a>
                    </td>
                </tr>
            }
            if (item.UtilizadorProfissao.Equals("FuncionarioAluno"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramaAtual)
                    </td>
                    <td>
                        <a asp-action="Inicio" asp-route-id="@item.ProgramaID">Seguinte</a>
                    </td>
                </tr>
            }*@

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Inicio" asp-route-id="@item.ProgramaID">Seguinte</a>
                </td>
            </tr>




        }
    </tbody>
</table>



@*<div align="center">
    @using (Html.BeginForm("MobilidadeEscolhida", "Home", FormMethod.Get))
    {

        <fieldset>

            Mobilidade

            @Html.DropDownList("TipoDeMobilidade")

            <p>

                <input type="submit" value="Escolher Mobilidade" />

            </p>

        </fieldset>

    }
</div>*@
