@model IEnumerable<IPSCIMOB.Models.ProgramaModel>
@{
    ViewData["Title"] = "Selecione a Mobilidade ";
}


<br />
<h1 align="center" style="color:lightseagreen;">Escolha o Programa que pretende</h1>


@*<div align="center">
        <select id="UrlList">    
            <option value="">Seleciona a mobilidade</option>
            @foreach (var item in Model)
            {
                <option value = "@Url.Action("Inicio", "Candidatura")"> @Html.DisplayFor(modelItem => item.Nome)</option>
            }
           
        </select>
    <p>

    </p>
        <p>
            <input type="submit" value="Seguinte" onclick="doNavigate()"/>            
        </p>

        <script>
            function doNavigate()
            {
                window.location.href = document.getElementById("UrlList").value;
                document.getElementById
            }
        </script>
    </div>*@

<br />
<br />
<table class="table" id="table">
    <tbody>
    @foreach (var item in Model)
    {
        
        if (@item.UtilizadorProfissao.Equals(@ViewBag.UserProfissao))
        {
            <tr align ="center" id="@item.Nome">
                <td id="@item.Nome">
                    <a asp-action="Inicio" asp-route-id="@item.ProgramaID" id="@item.Nome">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
            </tr>
        }
        if (@item.UtilizadorProfissao.ToString().Equals("FuncionarioAluno"))
        {
            <tr align ="center">
                <td>
                    <a asp-action="Inicio" asp-route-id="@item.ProgramaID" id="@item.Nome">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
            </tr>
        }
    }
     </tbody>
</table>



@*<div align="center">
    @using (Html.BeginForm("MobilidadeEscolhida", "Home", FormMethod.Get))
    {

        <fieldset>

            Mobilidade

            @Html.DropDownList("TipoDeMobilidade")

            <p>

                <input type="submit" value="Escolher Mobilidade" />

            </p>

        </fieldset>

    }
</div>*@
