@model IPSCIMOB.Models.Sugestao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sugestao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailUtilizador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailUtilizador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TextoSugestao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextoSugestao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SugestaoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
