@model IEnumerable<IPSCIMOB.Models.Sugestao>

@{
    ViewData["Title"] = "Index";
}

<h2 align="center">Sugestões de Utilizadores</h2>
<hr />
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmailUtilizador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextoSugestao)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoSugestao)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.SugestaoID">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.SugestaoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.SugestaoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>



<div align="center">
    <input type="button" value="VOLTAR PARA HOME" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
</div>