@model IEnumerable<IPSCIMOB.Models.Sugestao>

@{
    ViewData["Title"] = "Index";
}

<h2>Sugestões</h2>

<p></p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmailUtilizador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextoSugestao)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoSugestao)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.SugestaoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.SugestaoID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
