@model IEnumerable<IPSCIMOB.Models.EnviarMsg>

@{
    ViewData["Title"] = "Index";
}

<h2>Mensagens aos Utilizadores </h2>
<hr />
<p>
    <a asp-action="Create">Enviar Nova Mensagem</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ToEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMailBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailSubject)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMailBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailSubject)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.EnviarId">Editar</a> |*@
                <a asp-action="Details" asp-route-id="@item.EnviarId">Detalhes</a> 
                @*<a asp-action="Delete" asp-route-id="@item.EnviarId">Eliminar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

<div align="center">
    <input type="button" value="VOLTAR PARA HOME" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
</div>