@model IEnumerable<IPSCIMOB.Models.ProgramaModel>

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Programas de Mobilidade </title>
</head>
<body>

    <br />
<h1 align="center">Lista de Programas de Mobilidade </h1>
    <hr />
<p>
    <a asp-action="Create">Criar Novo Programa</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UtilizadorProfissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrazoCandidaturaPrimeiroSemestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrazoCandidaturaSegundoSemestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UtilizadorProfissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoCandidaturaPrimeiroSemestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoCandidaturaSegundoSemestre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgramaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProgramaID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgramaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>

<div align="center">
    <input type="button" value="VOLTAR PARA HOME" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
</div>