@model IEnumerable<IPSCIMOB.Models.ForeignStudents>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nacionalidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EscolaIPSECurso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Morada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroDaPorta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Andar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distrito)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoPostal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Universidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsBolseiro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartilhaMobilidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFuncionario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDadosVerificados)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscolaIPSECurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDaPorta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Andar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Universidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBolseiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartilhaMobilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDadosVerificados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
