@model IEnumerable<IPSCIMOB.Models.ApplicationUser>

@{
    ViewData["Title"] = "Lista de utilizadores";
}

<h2>Utilizadores</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroInterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroDoBI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Morada)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDaPorta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Andar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.NormalizedUserName)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.NormalizedEmail)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PartilhaMobilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDadosVerificados)
            </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDoBI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDaPorta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Andar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>  
            @*<td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartilhaMobilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDadosVerificados)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
