@model IPSCIMOB.Models.InformacaoGeral
    @{
    ViewData["Title"] = "Programas";
}



<div align="center">
    <h1>@Model.Titulo</h1>


    @Html.Raw(@Model.Descricao)

</div>

@if (@Model.Titulo.Equals("Receção dos Estudantes Internacionais"))
{
    <img src="~/images/cimob.png" alt="evento" class="img - responsive" href="https://www.facebook.com/pg/ipsetubal/photos/?tab=album&album_id=424602374262516" />
}

@*<div>
    <h4>InformacaoGeral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>*@

@if (this.User.IsInRole("CIMOB"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.InformacaoGeralID">Editar</a> |
        <a asp-action="Index">Voltar à lista</a>
    </div>
}

