@model IEnumerable<IPSCIMOB.Models.InformacaoGeral>

@{
    ViewData["Title"] = "Lista de Informações Gerais";
}

<h2>Informações Gerais</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InformacaoGeralID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.InformacaoGeralID">Detalhes</a> 
                @*<a asp-action="Delete" asp-route-id="@item.InformacaoGeralID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
