@model IPSCIMOB.Models.Upload.FilesViewModel
@{
    ViewData["Title"] = "UploadedFiles";
}



<h2 align ="center">Lista de Documentos Submetidos - Utilizadores Candidatos</h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Utilizador
            </th>
            <th>
                Nome do Ficheiro
            </th>
            <th>
                Programa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.alunosDocumento)
        {
            @foreach (var itemm in ViewBag.candidaturas)
            {
                if (item.NumeroAluno == itemm.NumeroInterno && item.Programa.Equals(itemm.Programa))
                {
                    <tr>
                        <td>
                            @itemm.Nome
                        </td>
                        <td>
                            @item.Caminho
                        </td>
                        <td>
                            @itemm.Programa
                        </td>
                        <td>
                            <a asp-action="Download" asp-route-filename="@item.Caminho">Download</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


<div align="center">
    <input type="button" value="VOLTAR PARA HOME" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
</div>
