@model IEnumerable<IPSCIMOB.Models.Entrevista>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroAluno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeEntrevista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomePrograma)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeEntrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePrograma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EntrevistaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EntrevistaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EntrevistaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
