@model IEnumerable<IPSCIMOB.Models.Utilizador>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCompleto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroInterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroDoBI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ano)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Morada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PalavraPasse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartilhaMobilidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdministrador)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDoBI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalavraPasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartilhaMobilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdministrador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UtilizadorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UtilizadorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UtilizadorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
