@model IPSCIMOB.Models.CandidaturaModel

@{
    ViewData["Title"] = "ConsultarCandidaturaAluno";
    Layout = "_LayoutCandidatura";
}


<div align="center">
    <h2>Candidatura Programa de Mobilidade: @ViewBag.NomePrograma</h2>     
    <h5>Passo 1 de 5</h5>
</div>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Programa" class="control-label"></label>
                <input asp-for="Programa" class="form-control" />
                <span asp-validation-for="Programa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntrevistaID" class="control-label"></label>
                <input asp-for="EntrevistaID" class="form-control" />
                <span asp-validation-for="EntrevistaID" class="text-danger"></span>
            </div>*@

    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        @*<input asp-for="Nome" class="form-control" />*@
        <span asp-validation-for="Nome" class="text-danger"> </span>
        
    </div>
            <div class="form-group">
                <label asp-for="NumeroInterno" class="control-label"></label>
                @*<input asp-for="NumeroInterno" class="form-control" />*@
                <span asp-validation-for="NumeroInterno" class="text-danger">  </span>
            </div>

            
            <div class="form-group">
                <label>Se pretende ter direito a bolsa clique em baixo</label>
                <div class="checkbox" align = "center">
                    <label>                            
                        <input asp-for="IsBolsa" /> @Html.DisplayNameFor(model => model.IsBolsa)
                    </label>
                </div>
            </div>


            <div class="form-group">
                <label>Escolha qual o tipo de propósito</label>
                <div class="checkbox" align ="center" >
                    <label>
                        <input asp-for="IsEstudo" /> @Html.DisplayNameFor(model => model.IsEstudo)
                        <label></label>
                        <input asp-for="IsEstagio" /> @Html.DisplayNameFor(model => model.IsEstagio)
                    </label>
                </div>
            </div>


            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                       
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInvestigacao" /> @Html.DisplayNameFor(model => model.IsInvestigacao)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsLecionar" /> @Html.DisplayNameFor(model => model.IsLecionar)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFormacao" /> @Html.DisplayNameFor(model => model.IsFormacao)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsConfirmado" /> @Html.DisplayNameFor(model => model.IsConfirmado)
                    </label>
                </div>
            </div>*@


            <div class="form-group">
                <label asp-for="Pais" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Pais" asp-items="Html.GetEnumSelectList<Paises>()">
                        <option selected="selected" value="">Escolha o País</option>
                    </select>
                    <span asp-validation-for="Pais" class="text-danger" />
                </div>
                <p></p>
            </div>

           

            @*<div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>*@

            
            <div id ="submitCandidatura" class="form-group" align="center">       
                <input type="submit" value="Submeter Candidatura" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>
