@model IPSCIMOB.Models.CandidaturaModel

@{
    ViewData["Title"] = "Edit";
}
<hr />
<h2>Editar Dados Candidatura </h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CandidaturaID" />

            <div class="form-group">
                <label asp-for="Programa" class="control-label"></label>
                <input asp-for="Programa" class="form-control" />
                <span asp-validation-for="Programa" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataInicioCandidatura" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataFimCandidatura" />

            @*<div class="form-group">
                <label asp-for="Utilizador" class="control-label"></label>
                <input asp-for="Utilizador" class="form-control" />
                <span asp-validation-for="Utilizador" class="text-danger"></span>
            </div>*@

            @*<div class="form-group">
                <label asp-for="EntrevistaID" class="control-label"></label>
                <input asp-for="EntrevistaID" class="form-control" />
                <span asp-validation-for="EntrevistaID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroInterno" class="control-label"></label>
                <input asp-for="NumeroInterno" class="form-control" />
                <span asp-validation-for="NumeroInterno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InstituicaoNome" class="control-label"></label>
                <input asp-for="InstituicaoNome" class="form-control" />
                <span asp-validation-for="InstituicaoNome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsBolsa" /> @Html.DisplayNameFor(model => model.IsBolsa)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEstudo" /> @Html.DisplayNameFor(model => model.IsEstudo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEstagio" /> @Html.DisplayNameFor(model => model.IsEstagio)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInvestigacao" /> @Html.DisplayNameFor(model => model.IsInvestigacao)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsLecionar" /> @Html.DisplayNameFor(model => model.IsLecionar)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFormacao" /> @Html.DisplayNameFor(model => model.IsFormacao)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsConfirmado" /> @Html.DisplayNameFor(model => model.IsConfirmado)
                    </label>
                </div>
            </div>

            @*<div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>*@




            @*<div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                 <label asp-for="EstadoDocumentos"></label>
                 <div class="col-md-10">
                    <select asp-for="EstadoDocumentos" asp-items="Html.GetEnumSelectList<EstadoDocumentos>()" id="EstadoDocumentos">
                     <option selected="selected" value="">Selecione Estado </option>
                </select>
                </div>
            </div>
            
            <br />         

            <div class="form-group">
                <label asp-for="EstadoBolsa"></label>
                <div class="col-md-10">
                    <select asp-for="EstadoBolsa" asp-items="Html.GetEnumSelectList<EstadoBolsa>()">
                        <option selected="selected" value="">Selecione Estado</option>                      
                    </select>
                </div>
            </div>
         
            <br />
            
            <div class="form-group">
                <label asp-for="Estado"></label>
                <div class="col-md-10">
                    <select asp-for="Estado" asp-items="Html.GetEnumSelectList<EstadoCandidatura>()">
                        <option selected="selected" value="">Selecione Estado</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Semestre"></label>
                <div class="col-md-10">
                    <select asp-for="Semestre" asp-items="Html.GetEnumSelectList<Semestre>()">
                        <option selected="selected" value="">Selecione Estado</option>
                    </select>
                    <span asp-validation-for="Semestre" class="text-danger" />
                </div>
            </div>

            
            <br />
            <br />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" id="Guardar"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar Atrás</a>
</div>

