@model IPSCIMOB.Models.CandidaturaModel
@{
    ViewData["Title"] = "FinalCandidatura";
    Layout = "_LayoutCandidatura";
    
}

<div align="center">
    <h2>Candidatura Programa de Mobilidade: @ViewBag.NomePrograma </h2>
    <h5>Passo 5 de 5</h5>
</div>

<div>
    <h4>Candidatura ao Programa de Mobilidade:</h4>
    <h4 class="text-danger">@ViewBag.NomePrograma</h4>
    <h4>País: </h4>
    <h4 class="text-danger">@Model.Pais</h4>
       
    <h4>Estado da sua Candidatura: </h4>
    <h4 class="text-danger"> @Model.Estado</h4>
    <h4>Estado da Bolsa: </h4>
    <h4 class="text-danger">@Model.EstadoBolsa</h4>
</div>

