@model IEnumerable<IPSCIMOB.Models.CandidaturaModel>
@{
    ViewData["Title"] = "Inicio";
    Layout = "_LayoutCandidatura";
}

<h2>Programa de Mobilidade @ViewBag.NomePrograma</h2>


<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"> </script>
</head>


<style>
    .inicioPrograma {
        display: inline-block;
        width: 500px;
        padding-left: 40px;
    }
</style>

<div class="inicioPrograma">
    <canvas id="myChart" Width="120" Height="70"></canvas>
</div>

<div class="inicioPrograma">
    <canvas id="Chart" Width="120" Height="70"></canvas>
</div>

<div>
    <h4>Utilizadores em Mobilidade no @ViewBag.NomePrograma</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    País
                </th>
                <th>
                    Instituição
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listaUserMobilidade)
            {
                @foreach (var item1 in Model)
                {
                    if (item1.Estado.Equals(EstadoCandidatura.EmMobilidade) && item.NumeroInterno == item1.NumeroInterno && item1.Programa.Equals(ViewBag.NomePrograma))
                    {
                        <tr>
                            <td>
                                @item1.Nome
                            </td>
                            <td>
                                @item1.InstituicaoPais
                            </td>
                            <td>
                                @item1.InstituicaoNome
                            </td>
                        </tr>
                    }
                 }
             }
        </tbody>
    </table>
</div>




<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
    data: {
        labels: ["Alunos", "Docentes"],
        datasets: [{
            data: ['@ViewBag.alunosMobilidade', '@ViewBag.docentesMobilidade'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
            display: true,
            text: "Utilizadores em Mobilidade no Programa @(ViewBag.NomePrograma)",
            fontSize: 17
        },
        legend: {
            display: false,
            position: 'right'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                }
            }]
        }
    }
    });


    var ctx1 = document.getElementById("Chart").getContext('2d');
    var Chart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ["Alunos", "Docentes"],
            datasets: [{
                data: ['@ViewBag.alunos', '@ViewBag.docentes'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
            display: true,
            text: "Candidaturas Submetidas no Programa @(ViewBag.NomePrograma)",
            fontSize: 17
        },
        legend: {
            display: false,
            position: 'right'
        },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>