@model IPSCIMOB.Models.CandidaturaModel
@{
    ViewData["Title"] = "Inicio";
    Layout = "_LayoutCandidatura";
}

<h2>Programa de Mobilidade @ViewBag.NomePrograma</h2>


<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"> </script>
</head>


<style>
    .grafico {
        display: inline-block;
        width: 500px;
    }
</style>

<div class="grafico">
    <canvas id="myChart" Width="120" Height="70"></canvas>
</div>
<div class="grafico">
    <canvas id="Chart" Width="120" Height="70"></canvas>
</div>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
    data: {
        labels: ["Alunos", "Docentes"],
        datasets: [{
            data: ['@ViewBag.alunos', '@ViewBag.docentes'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
            display: true,
            text: "Utilizadores em Mobilidade no Programa @(ViewBag.NomePrograma)",
            fontSize: 17
        },
        legend: {
            display: false,
            position: 'right'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });


    var ctx1 = document.getElementById("Chart").getContext('2d');
    var Chart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ["Alunos", "Docentes"],
            datasets: [{
                data: [5, 10],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
            display: true,
            text: "Utilizadores em Mobilidade no Programa @(ViewBag.NomePrograma)",
            fontSize: 17
        },
        legend: {
            display: false,
            position: 'right'
        },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>