@model IPSCIMOB.Models.CandidaturaModel

@{
    ViewData["Title"] = "EditCandidatura";
    Layout = "_LayoutCandidatura";

}

<div align="center">
    <h2>Candidatura Programa de Mobilidade: @ViewBag.NomePrograma</h2>
    <h5>Passo 2 de 5</h5>
</div>


<div class="row" align ="center">
    <div class="col-md-4">
        <form asp-action="EditRegulamento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CandidaturaID" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Programa" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />

            @*<div class="form-group">
                    <label asp-for="EntrevistaID" class="control-label"></label>
                    <input asp-for="EntrevistaID" class="form-control" />
                    <span asp-validation-for="EntrevistaID" class="text-danger"></span>
                </div>*@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nome" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumeroInterno" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsBolsa" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EstadoBolsa" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsEstudo" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsEstagio" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsInvestigacao" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsLecionar" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsFormacao" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstituicaoCidade" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstituicaoPais" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstituicaoNome" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Semestre" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataFimCandidatura" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataInicioCandidatura" />

            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pais" />*@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Estado" />

                              
  
            @Html.Raw(ViewBag.InfoGeraisModel.Descricao) 
            

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsConfirmado" /> @Html.DisplayNameFor(model => model.IsConfirmado)
                    </label>
                </div>
            </div>

            
        <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@*<div align="center">
        <input type="button" value="Passo Seguinte" onclick="@("window.location.href='" + @Url.Action("SubmeterDocs", "Candidatura") + "'");" />
    </div>*@


